[run]
relative_files = true
source = firecode
omit =
    firecode/__main__.py
    firecode/modify_settings.py
    firecode/md/equilibration.py
    firecode/pka.py

[report]
exclude_also =
    def __repr__
    raise
    case _
    assert

[xml]
output = coverage.xml
