name: Test

on:
  pull_request: {}
  push:
    branches:
    - main
    - feature/**
    - bug/**

jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.12']
        os: [ubuntu-latest]

    name: Python ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      # - uses: actions/setup-python@v6
      #   with:
      #     python-version: ${{ matrix.python-version }}

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.63.2
          cache: true
          environments: dev
          locked: false
          # locked: true

      - run: pixi install -e dev --locked
      # - run: pixi run fmt
      # - run: pixi run lint
      # - run: pixi run types
      - run: pixi run -e dev test_cov

      - run: pixi run -e dev coverage report 

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
